body{
	 background-image: linear-gradient(0deg, rgba(250,2,134,1), rgba(250,2,134,0.8));
	 background-repeat: no-repeat;
	background-size: 100% 100%;
}
iframe{
	display: block;
	text-align: center;
	width: 60%;
	height:500px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}
ul{
	list-style-type: none;/*Bullets removed*/
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2D5782;
	text-align: center;
}
li{
	float: left;
	font-size: 20px;
}
li a{
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;
	padding:10px 20px;
}
li a:hover{
	background-color:white ;
	color:red;
}
h1,h2{
	color:#A9E6F5;
	font-family:'Berkshire Swash', Helvetica, sans-serif;
	width:100%;
	text-align: center;
	text-shadow: 2px 3px 10px #1F5070;
	letter-spacing:3px;
	word-spacing:5px;

}
h2{
	
	font-size:30px;

}
h3{
	color:#A9E6F5;
	font-size:30px;
	font-family:'Berkshire Swash', Helvetica, sans-serif;
	width:100%;
	text-shadow: 2px 3px 10px #1F5070;
	text-align: center;
	letter-spacing:3px;
	word-spacing:5px;
}